body{
background: no-repeat center/100%url("image.png");
background-color: #5DD9C1;
}

nav>ul {
  position: fixed;
}

nav>ul>li{
  font-family:"Goudy Bookletter 1911", sans-serif;
  display: block;
  position:relative;
  top:-25px;
  float:left;
  padding: 0px 0px 0px 50px;
  background-color:#ACFCD9;
  border-color:black;
  border-style:solid;
  border-width:1px;
  border-radius:3px;
  margin-left:2px;
}

#quote1{
position: relative;
color: white;
top:230px;
float: left;
left: 10px;
font-size: 50px;
}

#quote2{
position: relative;
color: white;
top:320px;
float: left;
left:10px;
font-size: 50px;
}

#cyprus{
  position: relative;
  top:710px;
  float: left;
  width: 25%;
}

#Opener{
position: relative;
top:680px;
left:50px;
float: left;
font-family: Tahoma;
font-weight: 400;
font-size: 25px

}

#Paragraph1{
  font-family: Verdana;
position: relative;
float:left;
top:10px;
max-width: 930px;
}

#Paragraph2{
  font-family: Verdana;
  font-size: 25px;
  position: relative;
  float: left;
  top:680px;

}

#Paragraph3{
  font-family: Verdana;
  position: relative;
  font-size: 25px;
  float: left;
  top:760px;
}

 #Sidenote{
    color: #black;
    position: relative;
    text-align: center;
    top: 1000px;
    right: 330px;
    font-size: 30px;
    padding:40px 100px 10px 850px;
  }

  /*Better to keep these images under a class since they share
    more or less the same purpose, size and location.*/

  .image{
    position: relative;
    top:950px;
    width:5%;
    padding-bottom: 10px;
    float: right;
  }
