body{
background-color:#F7F7FF;
}

nav>ul {
  position: fixed;
}

nav>ul>li{
  font-family:"Goudy Bookletter 1911", sans-serif;
  display: block;
  position:relative;
  top:-25px;
  float:left;
  padding: 0px 0px 0px 50px;
  background-color:#ACFCD9;
  border-color:black;
  border-style:solid;
  border-width:1px;
  border-radius:3px;
  margin-left:2px;
}

p{
  text-align: center;
  position: relative;
  top:600px;
}

#Sidenote{
   color: #black;
   position: relative;
   text-align: center;
   font-size: 27px;
   padding:0px 0px 0px 0px;
 }
